In [1]:
import keras

Using TensorFlow backend.

In [2]:
import matplotlib.pyplot as plt

In [3]:
import pandas as pd
import numpy as np

In [4]:
# seed random value for reproduciablit
np.random.seed(10)

In [5]:
# read data in dataframe
df_train = pd.read_csv('D:/deepL_google/project/train.csv')

In [6]:
tmp_df = df_train
print(len(tmp_df))
tmp_df.head()

42000

,label,pixel0,pixel1,pixel2,pixel3,pixel4,pixel5,pixel6,pixel7,pixel8,...,pixel774,pixel775,pixel776,pixel777,pixel778,pixel779,pixel780,pixel781,pixel782,pixel783
0,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,4,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [8]:
# split data into feature set and target values
# x_train --> features
# y_trian --> target
x_train = np.array(tmp_df.ix[:,1:785])
y_train = np.array(tmp_df.ix[:,0])

In [9]:
# convert target values to hot enconding
# in this case we have 10 classes (0-9)
y_labels = keras.utils.to_categorical(y_train, num_classes=10)